/*
0-600px:      Phone
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
[1200-1800px] Is where owr normal styles apply
1800px + :    Big desktop

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desk

ORDER of Responsive Adjustments: Base + Typography > 
                                 General layout + Grid > 
                                 Page layout > 
                                 Components

1em = 16px 
*/
.filter-white {
  filter: invert(200%) brightness(200%);
}

.arrow {
  width: 3.5rem;
  height: 1.2rem;
}

@keyframes pulsate {
  0% {
    transform: scale(1) translateX(2.6rem);
  }
  50% {
    transform: scale(1.25) translateX(2.6rem);
  }
  100% {
    transform: scale(1) translateX(2.6rem);
  }
}
@keyframes pulsate-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulsate-3 {
  0% {
    transform: scale(1) translateX(2.2rem);
  }
  50% {
    transform: scale(1.2) translateX(2.2rem);
  }
  100% {
    transform: scale(1) translateX(2.2rem);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #7eb693;
  color: #fff;
}

.font-label-2, .font-label-1, .font-body-3, .font-body-2, .font-body-1, .font-subtitle-4, .font-subtitle-3, .font-subtitle-2, .font-subtitle-1, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.036rem;
}

.heading-1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.4rem;
  color: #274c5b;
}
@media only screen and (max-width: 37.5em) {
  .heading-1 {
    font-size: 5.4rem;
    line-height: 6.4rem;
  }
}

.heading-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: #274c5b;
}
@media only screen and (max-width: 37.5em) {
  .heading-2 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.heading-3 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: #274c5b;
}

.heading-4 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-display {
  color: #7eb693;
  font-family: "Yellowtail", cursive;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.4rem;
  letter-spacing: 0.036rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 37.5em) {
  .font-display {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }
}

.font-subtitle-1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-subtitle-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-subtitle-3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: #274c5b;
}

.font-subtitle-4 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-body-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-body-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: #274c5b;
}
@media only screen and (max-width: 37.5em) {
  .font-body-2 {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}

.font-body-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #274c5b;
}

.font-label-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #274c5b;
}

.font-label-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #274c5b;
}

.font-white {
  color: white;
}

.btn-primary {
  display: inline-flex;
  padding: 2.4rem;
  border-radius: 1.6rem;
  color: #274c5b;
  overflow: hidden;
  background: #ffa858;
  align-items: center;
  gap: 2.4rem;
  border: none;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .btn-primary {
    padding: 1.6rem 2.4rem;
    gap: 1.6rem;
  }
}
.btn-primary:hover {
  transition: all 0.2s;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn-primary:hover span {
  transition: all 0.2s;
  font-weight: 600;
  color: #fff;
  animation: pulsate 1s infinite;
}
.btn-primary:hover img {
  filter: invert(200%) brightness(200%);
  transition: all 0.2s;
  transform: translateX(5rem);
  visibility: hidden;
}
.btn-primary:active {
  outline: none;
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.btn-secondary {
  display: inline-flex;
  padding: 2.4rem;
  border-radius: 1.6rem;
  background: #274c5b;
  overflow: hidden;
  align-items: center;
  gap: 2.4rem;
  border: none;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 37.5em) {
  .btn-secondary {
    padding: 1.6rem 2.4rem;
    gap: 1.6rem;
  }
}
.btn-secondary:hover {
  transition: all 0.2s;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: #7eb693;
}
.btn-secondary:hover span {
  transition: all 0.1s;
  font-weight: 600;
  animation: pulsate 1s infinite;
  color: #274c5b;
}
.btn-secondary:hover img {
  transition: all 0.2s;
  transform: translateX(5rem);
  visibility: hidden;
}
.btn-secondary:active {
  transition: all 0.2s;
  outline: none;
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-secondary-small {
  display: inline-flex;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  background: #274c5b;
  align-items: center;
  gap: 1.6rem;
  border: none;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-outline {
  display: inline-flex;
  overflow: hidden;
  padding: 2.4rem;
  border-radius: 1.6rem;
  color: #274c5b;
  border: 1px solid #274c5b;
  align-items: center;
  gap: 2.4rem;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  cursor: pointer;
  height: 8rem;
}
.btn-outline span {
  width: 11.1rem;
}
.btn-outline:hover {
  transition: all 0.2s;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid #7eb693;
}
.btn-outline:hover span {
  transition: all 0.2s;
  animation: pulsate 1s infinite;
  font-weight: 600;
  color: #7eb693;
}
.btn-outline:hover img {
  transition: all 0.2s;
  transform: translateX(5rem);
  visibility: hidden;
  filter: invert(67%) sepia(36%) saturate(287%) hue-rotate(110deg) brightness(100%) contrast(89%);
}
.btn-outline:active {
  transition: all 0.2s;
  outline: none;
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-outline-small {
  display: inline-flex;
  overflow: hidden;
  padding: 1.6rem 2.4rem;
  border-radius: 1.6rem;
  border: 1px solid #274c5b;
  align-items: center;
  gap: 1.6rem;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-link {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  max-width: 16.4rem;
  overflow: hidden;
  border-radius: 1.6rem;
  background: #fff;
  align-items: center;
  gap: 1.2rem;
  border: none;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.btn-link:hover {
  transition: all 0.2s;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border: 1px solid #ffa858;
}
.btn-link:hover span {
  transition: all 0.2s;
  animation: pulsate-3 1s infinite;
  font-weight: 600;
  color: #ffa858;
}
.btn-link:hover img {
  transition: all 0.2s;
  transform: translateX(5rem);
  visibility: hidden;
}
.btn-link:active {
  transition: all 0.2s;
  outline: none;
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-link-small {
  display: inline-flex;
  overflow: hidden;
  border-radius: 1.6rem;
  align-items: center;
  gap: 1.2rem;
  border: none;
  text-transform: capitalize;
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hamburger {
  display: none;
  width: 100%;
  height: auto;
}
.hamburger__checkbox {
  display: none;
}
.hamburger__button {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem 0.2rem;
  position: absolute;
  top: 2.4rem;
  right: 1.6rem;
  z-index: 2000;
  cursor: pointer;
}
.hamburger__background {
  border-radius: 50%;
  width: 0;
  height: 0;
  padding: 0.5px 0.5px;
  position: fixed;
  top: 2.6rem;
  right: 1.8rem;
  background-color: #fff;
  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}
.hamburger__logo {
  width: 14.2rem;
  height: 4rem;
  position: fixed;
  left: 1.6rem;
  top: 1.6rem;
  z-index: 1501;
  transition: opacity 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  width: 0;
}
.hamburger__nav {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: #fff;
  transition: opacity 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  width: 0;
}
.hamburger__list {
  padding: 9.6rem 1.6rem;
  list-style: none;
  display: flex;
  width: 36.7rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}
.hamburger__item {
  height: 6.4rem;
}
.hamburger__item:hover {
  transform: translateX(1rem);
  color: #7eb693;
}
.hamburger__item:active {
  transform: translateY(-0.1rem) scale(0.95);
  transition: all 0.2s;
}
.hamburger__link {
  text-decoration: none;
  cursor: pointer;
}
.hamburger__link:hover {
  color: #7eb693;
}
.hamburger__checkbox:checked ~ .hamburger__background {
  transform: scale(2400);
}
.hamburger__checkbox:checked ~ .hamburger__button {
  position: fixed;
}
.hamburger__checkbox:checked ~ .hamburger__nav {
  opacity: 1;
  width: 100%;
}
.hamburger__checkbox:checked ~ .hamburger__logo {
  opacity: 1;
  width: auto;
}
.hamburger__icon {
  position: relative;
  margin: 1rem auto;
}
.hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
  width: 2.5rem;
  height: 1px;
  border-radius: 5px;
  background-color: #274c5b;
  display: inline-block;
}
.hamburger__icon::before, .hamburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.hamburger__icon::before {
  top: -0.9rem;
}
.hamburger__icon::after {
  top: 0.9rem;
}
.hamburger__button:hover .hamburger__icon:before {
  top: -1rem;
}
.hamburger__button:hover .hamburger__icon::after {
  top: 1rem;
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
  background-color: transparent;
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
@media only screen and (min-width: 112.5em) {
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 75em) {
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 56.25em) {
  .hamburger {
    display: inline-block;
  }
  .hamburger__button {
    top: 3.8rem;
    right: 2.4rem;
  }
  .hamburger__background {
    position: absolute;
    top: 5.2rem;
    right: 2.8rem;
  }
  .hamburger__logo {
    height: 5.6rem;
    top: 2.5rem;
    left: 2.5rem;
  }
  .hamburger__list {
    padding: 13.6rem 1.6rem;
  }
  .hamburger__link {
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hamburger {
    display: inline-block;
  }
  .hamburger__button {
    top: 2.4rem;
    right: 1.6rem;
  }
  .hamburger__background {
    top: 3.8rem;
    right: 2rem;
  }
  .hamburger__logo {
    width: 14.3rem;
    height: 4rem;
    left: 1.6rem;
    top: 1.6rem;
  }
  .hamburger__list {
    padding: 9.6rem 1.6rem;
  }
  .hamburger__link {
    margin-left: 0;
  }
}

.heading-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4.8rem;
  width: 100%;
}
@media only screen and (max-width: 75em) {
  .heading-group__text__heading-main {
    width: 60rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .heading-group {
    flex-direction: column;
    align-items: start;
  }
  .heading-group__text__heading-main {
    margin-bottom: 2.4rem;
    width: 60rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-group {
    flex-direction: column;
    align-items: start;
  }
  .heading-group__text__heading-main {
    margin-bottom: 2.4rem;
    width: 36.8rem;
  }
}

.input {
  display: inline-flex;
  padding: 2.4rem 10rem 2.4rem 4.8rem;
  border: none;
  border-radius: 1.6rem;
  background: var(--White, #FFF);
  align-items: flex-start;
  gap: 0.8rem;
}

.label {
  display: inline-flex;
  overflow: hidden;
  padding: 0.8rem 2.4rem;
  border-radius: 0.8rem;
  background: #274c5b;
  align-items: center;
  gap: 2.4rem;
}

.list-card {
  max-width: 43.2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 50%;
}
.list-card__img {
  border-radius: 3.2rem;
  max-width: 100%;
  height: auto;
}
.list-card__link {
  display: flex;
  width: 80%;
  padding: 3.2rem 0;
  border-radius: 2.4rem;
  background: white;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 5.6rem;
  cursor: pointer;
}
.list-card__link:hover {
  transition: all 0.2s;
  transform: scale(1.03);
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
  color: #ffa858;
}
.list-card__link:hover span {
  transition: all 0.1s;
  animation: pulsate-2 1s infinite;
}
.list-card__link:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.news-card {
  width: auto;
  height: auto;
  border-radius: 3.2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.news-card__img {
  max-width: 100%;
  height: auto;
  border-radius: 3.2rem;
}
.news-card__date {
  width: 8rem;
  height: 8rem;
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3.1rem;
  left: 2.9rem;
}
.news-card__article {
  max-width: 100%;
  box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 3.2rem;
  padding: 4.8rem 4.8rem 5.6rem 4.8rem;
  position: absolute;
  top: 49%;
  margin: 0 2.4rem;
}
.news-card__article__group {
  max-width: 51.5rem;
}
.news-card__article__group__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15.4rem;
  height: 3.2rem;
}
.news-card__article__group__user__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.news-card__article__group__heading {
  margin: 1.6rem 0;
}
.news-card__article__group__paragraph {
  max-width: 51.5rem;
}
.news-card__article__group__btn {
  margin-top: 2.4rem;
}
.news-card__article:hover {
  transition: all 0.1s;
  transform: translateY(-0.01rem) scale(1.01);
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 100%;
  width: 41rem;
  height: auto;
  border-radius: 3.2rem;
  padding: 3.2rem;
  background: #f7f7f7;
  cursor: pointer;
}
.product-card__img {
  max-width: 100%;
  height: auto;
}
.product-card__name {
  width: 100%;
  margin: 1.6rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #b8b8b8;
}
.product-card .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  row-gap: 3.7rem;
  flex-wrap: wrap;
}
.product-card .bottom__price {
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  align-items: flex-start;
  gap: 0.8rem;
  flex: 1 0 0;
}
.product-card .bottom__price__old {
  align-self: center;
  text-decoration: line-through;
  color: #b8b8b8;
}
.product-card .bottom__price__new {
  align-self: center;
}
.product-card .bottom__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.4rem;
}
.product-card .bottom__rating__star {
  width: 1.6rem;
  height: 1.6rem;
}
.product-card:hover {
  transition: all 0.1s;
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
}
.product-card:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .product-card .bottom {
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
    row-gap: 0.8rem;
  }
  .product-card .bottom__price {
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .product-card {
    width: auto;
  }
  .product-card .bottom {
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
    row-gap: 0.8rem;
  }
  .product-card .bottom__price {
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .product-card {
    max-width: 100%;
    padding: 2.4rem;
  }
  .product-card .bottom {
    flex-direction: column;
    align-items: start;
    align-content: flex-start;
    row-gap: 0.8rem;
  }
  .product-card .bottom__price {
    justify-content: space-between;
    width: 100%;
  }
}

.social-media {
  z-index: 1000;
}
.social-media__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  position: fixed;
  width: 100%;
  bottom: 3.7rem;
}
.social-media__icons__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background: #f7f7f7;
  transition: all 0.2s;
}
.social-media__icons__bg:hover {
  transform: scale(1.1);
  color: #7eb693;
  transition: all 0.2s;
}
.social-media__icons__bg:hover img {
  filter: invert(67%) sepia(36%) saturate(287%) hue-rotate(110deg) brightness(100%) contrast(89%);
}
.social-media__icons__bg:active {
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.social-media__icons__bg__icon {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
}

.container {
  max-width: 144rem;
  height: auto;
  background: white;
  margin: 0 auto;
}

.footer {
  padding-top: 9.6rem;
}
.footer__main {
  display: flex;
  justify-content: center;
  margin: 0 4rem;
}
.footer__main__left {
  max-width: 31.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 4rem;
  padding-top: 0.8rem;
}
.footer__main__left__heading {
  text-align: right;
}
.footer__main__left__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3.2rem;
  margin-top: 4.8rem;
}
.footer__main__left__contacts__group {
  display: flex;
  width: 26.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.footer__main__left__contacts__group__title {
  color: #525c60;
  text-align: right;
}
.footer__main__left__contacts__group__info {
  color: #525c60;
  text-align: right;
  text-decoration: none;
}
.footer__main__left__contacts__group__info:hover {
  color: #7eb693;
}
.footer__main__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 66.4rem;
  margin: 0 auto;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  padding: 0 4rem;
}
.footer__main__center__logo {
  width: 19.8rem;
  height: 5.6rem;
  margin-top: 3.2rem;
  cursor: pointer;
}
.footer__main__center__paragraph {
  max-width: 56.7rem;
  text-align: center;
  color: #525c60;
  margin-top: 4rem;
}
.footer__main__center__icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 2.4rem;
  margin-top: 6.4rem;
}
.footer__main__center__icons__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  background: #f7f7f7;
  transition: all 0.2s;
}
.footer__main__center__icons__bg:hover {
  transform: scale(1.1);
  color: #7eb693;
  transition: all 0.2s;
}
.footer__main__center__icons__bg:hover img {
  filter: invert(67%) sepia(36%) saturate(287%) hue-rotate(110deg) brightness(100%) contrast(89%);
}
.footer__main__center__icons__bg:active {
  transform: translateY(-0.1rem) scale(0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.footer__main__center__icons__bg__icon {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
}
.footer__main__right {
  max-width: 31.6rem;
  height: 38.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
  padding-top: 0.8rem;
}
.footer__main__right__heading {
  text-align: left;
}
.footer__main__right__links {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  width: 26.5rem;
  margin-top: 4.8rem;
}
.footer__main__right__links__page {
  color: #525c60;
  text-decoration: none;
}
.footer__main__right__links__page:hover {
  transform: translateX(1rem);
  color: #7eb693;
}
.footer__main__right__links__page:active {
  transform: translateX(0.1rem) scale(0.95);
  transition: all 0.2s;
}
.footer__copyright {
  text-align: center;
  border-top: 1px solid #d4d4d4;
  padding: 1.6rem 0;
  margin-top: 4.9rem;
}
.footer__copyright a {
  text-decoration: none;
  color: #525c60;
}
@media only screen and (min-width: 112.5em) {
  .footer__copyright {
    text-align: center;
    border-top: 1px solid #d4d4d4;
    padding: 1.6rem 0;
    margin-top: 4.9rem;
  }
}
@media only screen and (max-width: 75em) {
  .footer {
    padding: 8rem 4rem 0 4rem;
  }
  .footer__main {
    flex-direction: column;
    margin: 0;
  }
  .footer__main__left {
    order: 1;
    align-items: flex-start;
    padding: 0;
  }
  .footer__main__left__contacts__group {
    align-items: flex-start;
  }
  .footer__main__center {
    border: none;
    padding: 0 0 6.4rem 0;
  }
  .footer__main__center__logo {
    margin: 0;
  }
  .footer__main__center__paragraph {
    margin-top: 3.2rem;
  }
  .footer__main__center__icons {
    margin-top: 3.2rem;
  }
  .footer__main__right {
    height: auto;
    align-items: flex-end;
    transform: translateY(15.3rem);
    position: absolute;
    right: 4rem;
  }
  .footer__main__right__links {
    align-items: flex-end;
  }
  .footer__copyright {
    padding: 2.4rem 0;
    margin-top: 4.8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 4rem 0 4rem;
  }
  .footer__main {
    flex-direction: column;
    margin: 0;
  }
  .footer__main__left {
    order: 1;
    align-items: flex-start;
    padding: 0;
  }
  .footer__main__left__contacts__group {
    align-items: flex-start;
  }
  .footer__main__center {
    border: none;
    padding: 0 0 6.4rem 0;
  }
  .footer__main__center__logo {
    margin: 0;
  }
  .footer__main__center__paragraph {
    margin-top: 3.2rem;
  }
  .footer__main__center__icons {
    margin-top: 3.2rem;
  }
  .footer__main__right {
    height: auto;
    align-items: flex-end;
    transform: translateY(15.3rem);
    position: absolute;
    right: 4rem;
  }
  .footer__main__right__links {
    align-items: flex-end;
  }
  .footer__copyright {
    padding: 2.4rem 0;
    margin-top: 4.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 0 1.6rem 0 1.6rem;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  .footer__main__left {
    order: 1;
    align-items: flex-start;
    padding: 0 0 6.4rem 0;
  }
  .footer__main__left__contacts {
    row-gap: 1.6rem;
    margin-top: 2.4rem;
  }
  .footer__main__left__contacts__group {
    align-items: flex-start;
  }
  .footer__main__center {
    border: none;
    padding: 0 0 6.4rem 0;
    width: 100%;
  }
  .footer__main__center__logo {
    margin: 0;
  }
  .footer__main__center__paragraph {
    margin-top: 3.2rem;
  }
  .footer__main__center__icons {
    margin-top: 3.2rem;
  }
  .footer__main__right {
    height: auto;
    order: 2;
    padding: 0;
    align-items: flex-start;
    position: static;
    transform: none;
  }
  .footer__main__right__links {
    gap: 1.6rem;
    width: 26.5rem;
    margin-top: 2.4rem;
    align-items: flex-start;
  }
  .footer__copyright {
    padding: 2.4rem 0;
    margin-top: 4.8rem;
  }
}

.header {
  display: flex;
  padding: 4.8rem 4rem;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 20rem;
  height: 5.6rem;
}
.header__navbar__menu {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}
.header__navbar__item {
  list-style-type: none;
}
.header__navbar__item:hover {
  transform: translateY(-0.25rem);
}
.header__navbar__item:active {
  transform: translateY(-0.1rem) scale(0.95);
  transition: all 0.2s;
}
.header__navbar__link {
  color: #274c5b;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.036rem;
  text-decoration: none;
  transition: all 0.1s;
  cursor: pointer;
}
.header__navbar__link:hover {
  color: #7eb693;
}
@media only screen and (max-width: 75em) {
  .header {
    padding: 3rem 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    padding: 2.5rem 4rem;
  }
  .header__navbar__menu {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 1.6rem;
  }
  .header__logo {
    width: 14.2rem;
    height: 4rem;
  }
  .header__navbar__menu {
    display: none;
  }
}

.hero {
  display: flex;
  height: 75.2rem;
  align-items: center;
  background: url("../public/img/image.png") lightgray center/cover no-repeat;
}
.hero__content {
  width: 49.6rem;
  margin-left: 4rem;
}
.hero__content__heading-sub {
  width: 24.1rem;
}
.hero__content__heading-main {
  height: 25.6rem;
}
.hero__content__btn {
  margin-top: 3.6rem;
}
@media only screen and (max-width: 56.25em) {
  .hero {
    height: 65rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero {
    height: 53.6rem;
    align-items: center;
    background: url("../public/img/hero-mobile.png") lightgray center/cover no-repeat;
  }
  .hero__content {
    width: 33.6rem;
    margin-left: 1.6rem;
  }
}

.offers {
  padding: 9.6rem 4rem;
}
.offers__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  max-width: 135.9rem;
  height: auto;
}
@media only screen and (max-width: 56.25em) {
  .offers__content {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 37.5em) {
  .offers {
    padding: 6.4rem 1.6rem;
  }
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70rem;
  height: 38.4rem;
  border-radius: 3.2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.offer-card__1 {
  background: url("../../public/img/image-1.png") no-repeat 23% top/cover;
}
.offer-card__2 {
  background: url("../../public/img/image-2.png") no-repeat 30% top/cover;
}
.offer-card__text-box {
  width: 26rem;
  height: 16rem;
  margin-left: 6.4rem;
}
.offer-card__text-box__heading-sub {
  width: 12.6rem;
}
.offer-card__text-box__heading-main {
  width: 26rem;
}
@media only screen and (max-width: 37.5em) {
  .offer-card {
    height: 44rem;
  }
  .offer-card__text-box {
    margin-left: 5.6rem;
  }
}
.offer-card:hover {
  transition: all 0.2s;
  transform: scale(1.03);
  box-shadow: 0.5rem 1.2rem 2rem -0.1rem rgba(0, 0, 0, 0.2);
}
.offer-card:hover p {
  animation: pulsate-2 1s infinite;
  text-align: center;
  margin-left: -16rem;
}
.offer-card:active {
  transition: all 0.2s;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.about {
  height: auto;
  background: #f7f7f7;
  padding: 8rem 4rem;
}
.about .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .content__img img {
  max-width: 100%;
  height: auto;
}
.about .content__info {
  width: 66.5rem;
  height: auto;
}
.about .content__info__heading-sub {
  width: 12.2rem;
}
.about .content__info__heading-main {
  max-width: 55.2rem;
}
.about .content__info__paragraph {
  max-width: 63.4rem;
  margin-top: 2.4rem;
}
.about .content__info .features {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  padding: 5.6rem 0;
}
.about .content__info .features__item {
  display: flex;
  max-width: 66.4rem;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.about .content__info .features__item__icon-box {
  width: 9.6rem;
  height: 9.6rem;
  border-radius: 2rem;
  background: white;
  flex-shrink: 0;
}
.about .content__info .features__item__icon {
  display: block;
  margin: 2.2rem auto;
  width: 4.8rem;
  height: 4.8rem;
}
.about .content__info .features__item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}
.about .content__info .features__item__info__heading {
  max-width: 22.5rem;
}
.about__btn span {
  color: #fff;
}
.about__btn__icon {
  filter: invert(200%) brightness(200%);
}
.about__btn:hover img {
  filter: invert(23%) sepia(62%) saturate(399%) hue-rotate(151deg) brightness(60%) contrast(89%);
}
@media only screen and (max-width: 75em) {
  .about .content {
    gap: 3rem;
    flex-direction: column;
  }
  .about .content__img {
    display: flex;
    justify-content: center;
  }
  .about .content__img img {
    max-width: 85%;
  }
  .about .content__info {
    width: 100%;
  }
  .about .content__info__heading-main {
    max-width: 70rem;
  }
  .about .content__info__paragraph {
    max-width: 75rem;
  }
  .about .content .about__btn {
    margin-right: 37rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .about .content {
    gap: 3rem;
    flex-direction: column;
  }
  .about .content__img {
    display: flex;
    justify-content: center;
  }
  .about .content__img img {
    max-width: 85%;
  }
  .about .content__info {
    width: 100%;
  }
  .about .content__info__heading-main {
    max-width: 70rem;
  }
  .about .content__info__paragraph {
    max-width: 75rem;
  }
  .about .content .about__btn {
    margin-right: 16rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about {
    padding: 6.4rem 1.6rem;
  }
  .about .content__img img {
    max-width: 90%;
  }
  .about .content__info__paragraph {
    margin-top: 1.6rem;
  }
  .about .content__info .features {
    padding: 3.2rem 0;
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding: 9.6rem 4rem;
}
.products__heading-sub {
  width: 10.5rem;
}
.products__heading-main {
  margin-bottom: 4rem;
}
.products .container-product-cards {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 112.5em) {
  .products .container-product-cards {
    flex-direction: row;
    justify-content: space-evenly;
    row-gap: 5rem;
  }
}
@media only screen and (max-width: 75em) {
  .products .container-product-cards {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .products .container-product-cards {
    flex-direction: row;
    gap: 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .products {
    padding: 6.4rem 1.6rem;
  }
  .products__heading-main {
    margin-bottom: 3.2rem;
  }
  .products .container-product-cards {
    flex-direction: column;
    row-gap: 2.4rem;
  }
}

.testimonials__content {
  height: auto;
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__content .img-left-tab {
  display: none;
}
.testimonials__content .feedback-box {
  width: 84rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.testimonials__content .feedback-box__heading-main {
  margin-bottom: 6.4rem;
  text-align: center;
}
.testimonials__content .feedback-box__img {
  width: 11.2rem;
  height: 11.2rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
  transition: transform 0.3s;
}
.testimonials__content .feedback-box__rating {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.8rem;
  margin-bottom: 3.2rem;
}
.testimonials__content .feedback-box__rating__star {
  width: 2.4rem;
  height: 2.4rem;
}
.testimonials__content .feedback-box__paragraph {
  text-align: center;
  margin-bottom: 2.4rem;
}
.testimonials__content .feedback-box__name {
  margin-bottom: 0.8rem;
}
.testimonials__content .img-right-tab {
  display: none;
}
@media only screen and (min-width: 112.5em) {
  .testimonials__content .img-left {
    display: block;
  }
  .testimonials__content .img-left-tab {
    display: none;
  }
  .testimonials__content .img-right {
    display: block;
  }
  .testimonials__content .img-right-tab {
    display: none;
  }
}
@media only screen and (max-width: 75em) {
  .testimonials__content .img-left {
    display: none;
  }
  .testimonials__content .img-left-tab {
    display: block;
  }
  .testimonials__content .img-right {
    display: none;
  }
  .testimonials__content .img-right-tab {
    display: block;
  }
}
@media only screen and (max-width: 56.25em) {
  .testimonials__content {
    justify-content: center;
  }
  .testimonials__content .feedback-box {
    padding: 8rem 4rem;
  }
  .testimonials__content .feedback-box__heading-main {
    max-width: 73rem;
  }
  .testimonials__content .feedback-box__paragraph {
    max-width: 66rem;
  }
  .testimonials__content .img-left {
    display: none;
  }
  .testimonials__content .img-left-tab {
    display: none;
  }
  .testimonials__content .img-right {
    display: none;
  }
  .testimonials__content .img-right-tab {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .testimonials {
    padding: 6.5rem 1.6rem;
  }
  .testimonials__content {
    justify-content: center;
  }
  .testimonials__content .feedback-box__heading-main {
    max-width: 56.7rem;
  }
  .testimonials__content .feedback-box__paragraph {
    max-width: 56.7rem;
  }
  .testimonials__content .img-left {
    display: none;
  }
  .testimonials__content .img-left-tab {
    display: none;
  }
  .testimonials__content .img-right {
    display: none;
  }
  .testimonials__content .img-right-tab {
    display: none;
  }
}

.offer-products {
  height: auto;
  padding: 8rem 4rem;
  background: #274c5b;
}
.offer-products__content .cards-group {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 112.5em) {
  .offer-products__content .cards-group {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 56.25em) {
  .offer-products__content .cards-group {
    flex-direction: row;
  }
}
@media only screen and (max-width: 56.25em) {
  .offer-products__content .cards-group {
    flex-direction: column;
    align-content: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .offer-products {
    padding: 6.4rem 1.6rem;
  }
  .offer-products__content .cards-group {
    row-gap: 2.4rem;
    justify-content: center;
  }
}

.eco-friendly {
  height: auto;
}
.eco-friendly__content {
  display: flex;
  align-items: center;
  position: relative;
}
.eco-friendly__content__img img {
  width: 100%;
  height: auto;
}
.eco-friendly__content__card {
  right: 4rem;
  height: auto;
  border-radius: 3.2rem;
  box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
  background: white;
  padding: 3.6rem 4.8rem 6.8rem 4.8rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eco-friendly__content__card__heading__sub {
  width: 16.8rem;
}
.eco-friendly__content__card__heading__main {
  margin-bottom: 5.51rem;
}
.eco-friendly__content__card__benefit-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}
.eco-friendly__content__card__benefit-box__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.eco-friendly__content__card__benefit-box__group__paragraph {
  max-width: 60.1rem;
}
@media only screen and (min-width: 112.5em) {
  .eco-friendly__content {
    overflow: hidden;
    height: 75rem;
  }
  .eco-friendly__content__img img {
    height: 75rem;
  }
  .eco-friendly__content__card {
    right: 5.6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .eco-friendly__content {
    height: 106rem;
    flex-direction: column;
    position: relative;
  }
  .eco-friendly__content__img {
    width: 100%;
    height: auto;
  }
  .eco-friendly__content__card {
    max-width: auto;
    margin: 4rem 4rem;
    right: auto;
    bottom: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  .eco-friendly__content {
    height: 110rem;
    flex-direction: column;
    position: relative;
  }
  .eco-friendly__content__card {
    max-width: auto;
    margin: 4rem 1.6rem;
    right: auto;
    bottom: 0;
  }
}

.list-cards {
  max-width: 144rem;
  height: auto;
  background: #f7f7f7;
  padding: 8rem 4rem;
}
.list-cards__container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media only screen and (min-width: 112.5em) {
  .list-cards {
    padding: 6.4rem 4rem;
  }
  .list-cards__container {
    justify-content: space-evenly;
  }
}
@media only screen and (max-width: 75em) {
  .list-cards {
    padding: 6.4rem 4rem;
  }
  .list-cards__container {
    flex-wrap: wrap;
    gap: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .list-cards {
    padding: 6.4rem 4rem;
  }
  .list-cards__container {
    flex-wrap: wrap;
    gap: 2.6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .list-cards {
    padding: 6.4rem 1.6rem;
  }
  .list-cards__container {
    flex-wrap: wrap;
    gap: 2.4rem;
  }
}

.news {
  height: 93.2rem;
  padding: 9.6rem 4rem;
}
.news__content {
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.news__content .news-cards-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 2.3%;
}
@media only screen and (min-width: 112.5em) {
  .news {
    padding: 6.4rem 4rem 0 4rem;
    height: 90rem;
  }
  .news__content .news-cards-container {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 56.25em) {
  .news {
    padding: 6.4rem 4rem 0 4rem;
    height: 160rem;
  }
  .news__content .news-cards-container {
    flex-wrap: wrap;
    max-width: 60rem;
    gap: 17rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .news {
    padding: 6.4rem 1.6rem 0 1.6rem;
    height: 160rem;
  }
  .news__content .news-cards-container {
    flex-wrap: wrap;
    max-width: 52rem;
    gap: 24rem;
  }
}

.subscribe {
  max-width: 144rem;
  height: auto;
  padding: 0 4rem;
}
.subscribe__content {
  max-width: 136rem;
  border-radius: 3.2rem;
  overflow: hidden;
  padding: 10.4rem 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../../public/img/oranges-on-blue.png"), lightgray center/cover no-repeat;
}
.subscribe__content__heading {
  width: 32.3rem;
}
.subscribe__content__form {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: auto;
  height: 8rem;
  gap: 2.4rem;
}
.subscribe__content__form__input {
  width: 40.7rem;
}
.subscribe__content__form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 3px solid #7eb693;
  color: #525c60;
}
.subscribe__content__form__input:focus:invalid {
  border: 3px solid #c86464;
}
.subscribe__content__form__input::-webkit-input-placeholder {
  color: #525c60;
}
.subscribe__content__form__label {
  top: 8rem;
  left: 5rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  position: absolute;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3.2rem;
}
.subscribe__content__form__input:placeholder-shown + .subscribe__content__form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.subscribe__content__form__btn__icon {
  filter: invert(200%) brightness(200%);
}
.subscribe__content__form__btn:hover {
  background-color: #ffa858;
  transform: translateY(0rem);
}
.subscribe__content__form__btn:hover img {
  filter: invert(200%) brightness(200%);
}
.subscribe__content__form__btn:hover:active {
  transform: scale(0.95);
}
@media only screen and (min-width: 112.5em) {
  .subscribe__content {
    padding: 10.4rem 6.4rem;
    background: lightgray url(../../public/img/oranges-on-blue.png) no-repeat 31%/cover;
  }
  .subscribe__content__heading {
    width: 51rem;
  }
  .subscribe__content__form {
    justify-content: end;
    gap: 1.6rem;
    width: 100%;
  }
  .subscribe__content__form__label {
    top: -4.5rem;
    left: auto;
    right: 36.5rem;
  }
  .subscribe__content__form__input:placeholder-shown + .subscribe__content__form__label {
    transform: translateY(4rem);
  }
}
@media only screen and (max-width: 75em) {
  .subscribe {
    padding: 6.4rem 4rem;
    height: auto;
  }
  .subscribe__content {
    padding: 3.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: lightgray url(../../public/img/oranges-on-blue.png) no-repeat 31%/cover;
  }
  .subscribe__content__heading {
    margin-bottom: 3.2rem;
  }
  .subscribe__content__form {
    justify-content: end;
    gap: 1.6rem;
    width: 100%;
  }
  .subscribe__content__form__label {
    top: -4.5rem;
    left: auto;
    right: 36.5rem;
  }
  .subscribe__content__form__input:placeholder-shown + .subscribe__content__form__label {
    transform: translateY(4rem);
  }
}
@media only screen and (max-width: 56.25em) {
  .subscribe {
    padding: 6.4rem 4rem;
    height: auto;
  }
  .subscribe__content {
    padding: 3.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: lightgray url(../../public/img/oranges-on-blue.png) no-repeat 31%/cover;
  }
  .subscribe__content__heading {
    margin-bottom: 3.2rem;
  }
  .subscribe__content__form {
    justify-content: end;
    gap: 1.6rem;
    width: 100%;
  }
  .subscribe__content__form__label {
    top: -4.5rem;
    left: auto;
    right: 36.5rem;
  }
  .subscribe__content__form__input:placeholder-shown + .subscribe__content__form__label {
    transform: translateY(4rem);
  }
}
@media only screen and (max-width: 37.5em) {
  .subscribe {
    padding: 6.4rem 1.6rem;
    height: auto;
  }
  .subscribe__content {
    padding: 3.2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: lightgray url(../../public/img/oranges-on-blue.png) no-repeat 31%/cover;
  }
  .subscribe__content__heading {
    width: 30.4rem;
    margin-bottom: 3.2rem;
  }
  .subscribe__content__form {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 1.6rem;
    width: 100%;
  }
  .subscribe__content__form__input {
    max-width: 100%;
  }
  .subscribe__content__form__label {
    top: -4.5rem;
  }
  .subscribe__content__form__input:placeholder-shown + .subscribe__content__form__label {
    transform: translateY(4rem);
  }
}

/*# sourceMappingURL=style.css.map */
