.header {
  display: flex;
  padding: 4.8rem 4rem;
  justify-content: space-between;
  align-items: center;

  &__logo {
    max-width: 20rem;
    height: 5.6rem;
  }

  &__navbar {
    &__menu {
      display: flex;
      align-items: flex-start;
      gap: 4rem;
    }

    &__item {
      list-style-type: none;

      &:hover {
        transform: translateY(-0.25rem);
      }

      &:active {
        transform: translateY(-0.1rem) scale(0.95);
        transition: all 0.2s;
      }
    }

    &__link {
      color: $color-body;
      font-family: Roboto;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
      letter-spacing: 0.036rem;
      text-decoration: none;
      transition: all 0.1s;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }

  }

  @include respond(tab-land) {
    padding: 3rem 4rem;
  }

  @include respond(tab-port) {
    padding: 2.5rem 4rem;  

    &__navbar {
      &__menu {
        display: none;
      }
    }
  }

  @include respond(phone) {
    padding: 1.6rem;

    &__logo {
      width: 14.2rem;
      height: 4rem;
    }

    &__navbar {
      &__menu {
        display: none;
      }
    }
  }
}
