.product-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 100%;
  width: 41rem;
  height: auto;
  border-radius: 3.2rem;
  padding: 3.2rem;
  background: $color-grey-1;
  cursor: pointer;

  &__label {
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__name {
    width: 100%;
    margin: 1.6rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $color-grey-4;
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 3.7rem;
    flex-wrap: wrap;

    &__price {
      display: flex;
      flex-direction: row;
      padding-right: 0px;
      align-items: flex-start;
      gap: 0.8rem;
      flex: 1 0 0;

      &__old {
        align-self: center;
        text-decoration: line-through;
        color: $color-grey-4;
      }

      &__new {
        align-self: center;
      }
    }

    &__rating {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.4rem;

      &__star {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &:hover {
    transition: all 0.1s;
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: $shadow-1;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $shadow-3;
  }

  @include respond(tab-land) {
    .bottom {
      flex-direction: column;
      align-items: start;
      align-content: flex-start;
      row-gap: 0.8rem;

      &__price {
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  @include respond(tab-port) {
    width: auto;

    .bottom {
      flex-direction: column;
      align-items: start;
      align-content: flex-start;
      row-gap: 0.8rem;

      &__price {
        justify-content: space-between;
        width: 100%;
      }
    }
  }


  @include respond(phone) {
    max-width: 100%;
    padding: 2.4rem;

    .bottom {
      flex-direction: column;
      align-items: start;
      align-content: flex-start;
      row-gap: 0.8rem;

      &__price {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
