%heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.036rem;
}

.heading-1 {
  @extend %heading;
  font-size: 7rem;
  font-weight: 700;
  line-height: 8.4rem;
  color: $color-body;

  @include respond(phone) {
    font-size: 5.4rem;
    line-height: 6.4rem;
  }
}

.heading-2 {
  @extend %heading;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.6rem;
  color: $color-body;

  @include respond(phone) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.8rem;
  color: $color-body;
}

.heading-4 {
  @extend %heading;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: $color-body;
}

.font-display {
  color: $color-primary;
  font-family: "Yellowtail", cursive;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.4rem;
  letter-spacing: 0.036rem;
  text-transform: capitalize;

  @include respond(phone) {
    font-size: 2.8rem;
    line-height: 4.8rem;
  }
}

.font-subtitle-1 {
  @extend %heading;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-body;
}

.font-subtitle-2 {
  @extend %heading;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-body;
}

.font-subtitle-3 {
  @extend %heading;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: $color-body;
}

.font-subtitle-4 {
  @extend %heading;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: $color-body;
}

.font-body-1 {
  @extend %heading;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-body;
}

.font-body-2 {
  @extend %heading;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: $color-body;

  @include respond(phone) {
    font-size: 1.8rem;
  line-height: 3.2rem;
  }
}

.font-body-3 {
  @extend %heading;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: $color-body;
}

.font-label-1 {
  @extend %heading;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: $color-body;
}

.font-label-2 {
  @extend %heading;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: $color-body;
}

.font-white {
  color: white;
}
