.about {
  height: auto;
  background: $color-grey-1;
  padding: 8rem 4rem;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__info {
      width: 66.5rem;
      height: auto;

      &__heading-sub {
        width: 12.2rem;
      }

      &__heading-main {
        max-width: 55.2rem;
      }

      &__paragraph {
        max-width: 63.4rem;
        margin-top: 2.4rem;
      }

      .features {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.4rem;
        padding: 5.6rem 0;

        &__item {
          display: flex;
          max-width: 66.4rem;
          height: auto;
          justify-content: center;
          align-items: flex-start;
          gap: 2rem;

          &__icon-box {
            width: 9.6rem;
            height: 9.6rem;
            border-radius: 2rem;
            background: white;
            flex-shrink: 0;
          }

          &__icon {
            display: block;
            margin: 2.2rem auto;
            width: 4.8rem;
            height: 4.8rem;
          }

          &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.2rem;

            &__heading {
              max-width: 22.5rem;
            }

            &__description {
            }
          }
        }
      }
    }
  }

  &__btn {
    span {
      color: $color-white;
    }

    &__icon {
      filter: $filter-white;
    }

    &:hover {
      img {
        filter: $filter-body;
      }
    }
  }

  @include respond(tab-land) {
    .content {
      gap: 3rem;
      flex-direction: column;

      &__img {
        display: flex;
        justify-content: center;
        img {
          max-width: 85%;
        }
      }

      &__info {
        width: 100%;

        &__heading-main {
          max-width: 70rem;
        }

        &__paragraph {
          max-width: 75rem;
        }
      }

      .about__btn {
        margin-right: 37rem;
      }
    }
  }

  @include respond(tab-port) {
    .content {
      gap: 3rem;
      flex-direction: column;

      &__img {
        display: flex;
        justify-content: center;
        img {
          max-width: 85%;
        }
      }

      &__info {
        width: 100%;

        &__heading-main {
          max-width: 70rem;
        }

        &__paragraph {
          max-width: 75rem;
        }
      }

      .about__btn {
        margin-right: 16rem;
      }
    }
  }

  @include respond(phone) {
    padding: 6.4rem 1.6rem;

    .content {
      &__img {
        img {
          max-width: 90%;
        }
      }
      &__info {
        &__paragraph {
          margin-top: 1.6rem;
        }

        .features {
          padding: 3.2rem 0;
        }
      }
    }
  }
}
