.eco-friendly {
  height: auto;

  &__content {
    display: flex;
    align-items: center;
    position: relative;

    &__img {
      img {
        width: 100%;
        height: auto;
      }
    }

    &__card {
      right: 4rem;
      height: auto;
      border-radius: 3.2rem;
      box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
      background: white;
      padding: 3.6rem 4.8rem 6.8rem 4.8rem;
      position: absolute;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__heading {
        &__sub {
          width: 16.8rem;
        }

        &__main {
          margin-bottom: 5.51rem;
        }
      }

      &__benefit-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;

        &__group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &__paragraph {
            max-width: 60.1rem;
          }
        }
      }
    }
  }

  @include respond(big-desk) {
    &__content {
      overflow: hidden;
      height: 75rem;

      &__img { 
        img {
          height: 75rem;
        }
      }

      &__card {
        right: 5.6rem;
      }
    }
  }

  @include respond(tab-port) {
    &__content {
      height: 106rem;
      flex-direction: column;
      position: relative;

      &__img {
        width: 100%;
        height: auto;
      }

      &__card {
        max-width: auto;
        margin: 4rem 4rem;
        right: auto;
        bottom: 0;
      }
    }
  }

  @include respond(phone) {
    &__content {
      height: 110rem;
      flex-direction: column;
      position: relative;

      &__card {
        max-width: auto;
        margin: 4rem 1.6rem;
        right: auto;
        bottom: 0;
      }
    }
  }
}
