.news {
  height: 93.2rem;
  padding: 9.6rem 4rem;

  &__content {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .news-cards-container {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      gap: 2.3%;
    }
  }

  @include respond(big-desk) {
    padding: 6.4rem 4rem 0 4rem;
    height: 90rem;

    &__content {
      .news-cards-container {
     justify-content: space-around;
      }
    }

  }

  @include respond(tab-port) {
    padding: 6.4rem 4rem 0 4rem;
    height: 160rem;

    &__content {
      .news-cards-container {
        flex-wrap: wrap;
        max-width: 60rem;
        gap: 17rem;
      }
    }

  }

  @include respond(phone) {
    padding: 6.4rem 1.6rem 0 1.6rem;
    height: 160rem;

    &__content {
      .news-cards-container {
        flex-wrap: wrap;
        max-width: 52rem;
        gap: 24rem;
      }
    }
  }
}
