.offers {
  padding: 9.6rem 4rem;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    max-width: 135.9rem;
    height: auto;
  }

  @include respond(tab-port) {
    &__content {
      flex-wrap: wrap;
    }
  }

  @include respond(phone) {
    padding: 6.4rem 1.6rem;
  }
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70rem;
  height: 38.4rem;
  border-radius: 3.2rem;
  transition: all 0.2s;
  cursor: pointer;

  &__1 {
    background: url(../../public/img/image-1.png) no-repeat 23% top / cover;
  }

  &__2 {
    background: url(../../public/img/image-2.png) no-repeat 30% top / cover;
  }

  &__text-box {
    width: 26rem;
    height: 16rem;
    margin-left: 6.4rem;

    &__heading-sub {
      width: 12.6rem;
    }

    &__heading-main {
      width: 26rem;
    }
  }

  @include respond(phone) {
    height: 44rem;

    &__text-box {
      margin-left: 5.6rem;
    }
  }

  &:hover {
    transition: all 0.2s;
    transform: scale(1.03);
    box-shadow: $shadow-1;

    p {
      animation: pulsate-2 1s infinite;
      text-align: center;
      margin-left: -16rem;
    }
  }

  &:active {
    transition: all 0.2s;
    transform: translateY(-0.1rem);
    box-shadow: $shadow-3;
  }
}
