.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  padding: 9.6rem 4rem;

  &__heading-sub {
    width: 10.5rem;
  }

  &__heading-main {
    margin-bottom: 4rem;
  }

  .container-product-cards {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include respond(big-desk) {
    .container-product-cards {
      flex-direction: row;
      justify-content: space-evenly;
      row-gap: 5rem;
    }
  }

  @include respond(tab-land) {
    .container-product-cards {
      flex-direction: row;
      gap: 3rem;
      justify-content: center;
    }
  }

  @include respond(tab-port) {
    .container-product-cards {
      flex-direction: row;
      gap: 2.4rem;
    }
  }

  @include respond(phone) {
    padding: 6.4rem 1.6rem;

    &__heading-main {
      margin-bottom: 3.2rem;
    }
    .container-product-cards {
      flex-direction: column;
      row-gap: 2.4rem;
    }
  }
}
