.testimonials {
  &__content {
    height: auto;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-left-tab {
      display: none;
    }

    .feedback-box {
      width: 84rem;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      &__heading-sub {
      }

      &__heading-main {
        margin-bottom: 6.4rem;
        text-align: center;
      }

      &__img {
        width: 11.2rem;
        height: 11.2rem;
        border-radius: 50%;
        margin-bottom: 1.6rem;
        transition: transform 0.3s;
      }

      &__rating {
        display: inline-flex;
        align-items: flex-start;
        gap: 0.8rem;
        margin-bottom: 3.2rem;

        &__star {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      &__paragraph {
        text-align: center;
        margin-bottom: 2.4rem;
      }

      &__name {
        margin-bottom: 0.8rem;
      }

      &__role-label {
      }
    }

    .img-right-tab {
      display: none;
    }
  }

  @include respond(big-desk) {
    &__content {
      .img-left {
        display: block;
      }

      .img-left-tab {
        display: none;
      }

      .img-right {
        display: block;
      }

      .img-right-tab {
        display: none;
      }
    }
  }

  @include respond(tab-land) {
    &__content {
      .img-left {
        display: none;
      }

      .img-left-tab {
        display: block;
      }

      .img-right {
        display: none;
      }

      .img-right-tab {
        display: block;
      }
    }
  }

  @include respond(tab-port) {
    &__content {
      justify-content: center;

      .feedback-box {
        padding: 8rem 4rem;

        &__heading-main {
          max-width: 73rem;
        }

        &__paragraph {
          max-width: 66rem;
        }
      }

      .img-left {
        display: none;
      }

      .img-left-tab {
        display: none;
      }

      .img-right {
        display: none;
      }

      .img-right-tab {
        display: none;
      }
    }
  }

  @include respond(phone) {
    padding: 6.5rem 1.6rem;

    &__content {
      justify-content: center;

      .feedback-box {
        &__heading-main {
          max-width: 56.7rem;
        }

        &__paragraph {
          max-width: 56.7rem;
        }
      }

      .img-left {
        display: none;
      }

      .img-left-tab {
        display: none;
      }

      .img-right {
        display: none;
      }

      .img-right-tab {
        display: none;
      }
    }
  }
}
