// COLORS:
$color-primary: #7eb693;
$color-secondary: #ffa858;
$color-body: #274c5b;
$color-error: #c86464;

$color-white: #fff;
$color-grey-1: #f7f7f7;
$color-grey-2: #f1f1f1;
$color-grey-3: #d4d4d4;
$color-grey-4: #b8b8b8;
$color-grey-5: #525c60;

// SHADOWS:
$shadow-1: .5rem 1.2rem 2rem -.1rem rgba(0,0,0,0.2);
$shadow-2: 0 1rem 2rem rgba(0,0,0,0.2);
$shadow-3: 0 0.5rem 1rem rgba(0,0,0,0.2);

// FILTERS:
.filter-white {
    filter: invert(200%) brightness(200%);
}
$filter-primary: invert(67%) sepia(36%) saturate(287%) hue-rotate(110deg) brightness(100%) contrast(89%);
$filter-white: invert(200%) brightness(200%);
$filter-secondary: invert(65%) sepia(78%) saturate(411%) hue-rotate(334deg) brightness(101%) contrast(102%);
$filter-body: invert(23%) sepia(62%) saturate(399%) hue-rotate(151deg) brightness(60%) contrast(89%);


.arrow {
    width: 3.5rem;
    height: 1.2rem;
}